


.image-with-text {

    text-align: justify;
    width:100px;
    }
    
    .p {
      color:yellow;
      background-color:rgb(28, 185, 164);
      margin: 0, auto;
    font-size:30px;
    
    }
    .p:hover {
    font-size:45px;
    transition-duration:2s;
    transition-delay:1s;
    background-color: blue;
    }
    .logo {
      height:100px;
      width:250px;
    }